<%- layout('layouts/boilerplate.ejs') %>

<h1 class="text-center">Your Notes</h1> 
<div class="d-flex justify-content-center align-items-center gap-3">
    <h5 class="text-center">
        <% if(user.notes.length) { %> 
            <span>(Notes count: <%= user.notes.length %>)</span>
        <% } else { %>
            <span>(No notes to show)</span>
        <% } %>  
    </h5>
    <% if(user.notes.length) { %> 
        <div class="dropdown text-center">
            <button class="btn btn-secondary dropdown-toggle text-bg-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sort
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="/<%= currentUser._id %>/notes?sort=new">Most Recent</a></li>
                <li><a class="dropdown-item" href="/<%= currentUser._id %>/notes?sort=old">Least Recent</a></li>
            </ul>
        </div>
    <% } %> 
</div>

<div class="grid mt-4 mx-auto">
    <% for(let note of user.notes) { %>
            <div class="card" style="width: 18rem; margin-bottom: 0.7rem; border: none;">
                <div class="card-header">
                    <h5 class="card-title"><%= note.title %></h5>
                    <h6 class="card-subtitle mb-2 text-muted fst-italic">Updated: <%= note.lastModified.toLocaleString("en-IN") %></h6>
                </div>
                <div class="card-body text-bg-dark" style="border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;">
                  <p class="card-text" style="white-space: pre-line"><%= note.text %></p>
                  <div class="mb-2 text-center">
                      <a href="/<%= currentUser._id %>/notes/<%= note._id %>/edit" class="card-link btn btn-secondary w-50">Edit</a>
                  </div>
                  <form action="/<%= userId %>/notes/<%= note._id %>?_method=DELETE" method="POST" class="text-center">
                    <button class="btn btn-danger w-50">Delete</button> 
                  </form>
                </div>
            </div>
    <% } %>  
</div>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="/javascript/masonry.js"></script>